<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Val Lanches - Menu</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light d-flex align-items-center justify-content-center vh-100">

<div class="container text-center">

    <!-- Logo / Título -->

    <h1 class="fw-bold bg-secondary-subtle border border-dark text-dark px-4 py-2 rounded-4 d-inline-block mb-2">
    Val Lanches
    </h1>

    <!-- Separador -->
    <h2 class="text-muted mt-1 mb-4">🏪🍔</h2>

    <!-- Botões -->
    <div class="d-grid gap-3 col-6 mx-auto">

        <a href="/dashboard" class="btn btn-dark btn-lg">Dashboard</a>

        <a href="/customers-page" class="btn btn-primary btn-lg">Clientes</a>

        <a href="/products-page" class="btn btn-success btn-lg">Produtos</a>

        <a href="/orders-page" class="btn btn-warning btn-lg">Pedidos</a>

    </div>

</div>

</body>
</html>
